/* css for main body */
.centering {
  text-align: center;

}
.middling {
  background: lightgrey;

}

.bordering {
  border: 1px solid grey;
}

.itemrow {
  padding: 10px;
}

.scrolling {
  height: 250px;
  overflow: scroll;
}

.imaging {
height: 80px;
width: 80px;
}



