/* css for main body */
.centering {
  text-align: center;

}
.middling {
  background: lightgrey;

}

.itemrow {
  padding: 10px;
}

h4 {
  font-weight: bold;
}

.scrolling {
  height: 250px;
  overflow: scroll;
}

.imaging {
height: 80px;
width: 80px;
}

.fonting {
  font-family: 'Work Sans', sans-serif;
}

