.centering {
    text-align: center;

}
body {
  background-color:whitesmoke;
  margin: 0px;
}

.scrolling {
    height: 250px;
    overflow: scroll;
}

.imaging {
  height: 80px;
  width: 80px;
}

.container{
  margin-top:0px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
.nopad {
  padding:0px;
  margin:0px;
  display: none;
}
}