input {
    height: 80px !important;
}
.centering {
    text-align: center;
    padding: 5px;

}
.middling {
    background: lightgrey;

}



.itemrow {
    padding: 10px;
}

.scrolling {
    height: 250px;
    overflow: scroll;
}

.imaging {
  height: 80px;
  width: 80px;
}

.input-group-label {
    color: white;
    background:#219875
}
.expiresLabel {
    float: left;
    width: 100%;
    
}
.expiresInput {
    float: left;
    width: 100%;
}
.addOption {
    height: 10px !important;
}