input {
    height: 40px !important;
}
.centering {
    text-align: center;
  
  }
.centering-too {
    text-align: center;
    padding: 10px 5px 0px 5px;
    margin-bottom:0px;

}
.middling {
    background: lightgrey;

}



.itemrow {
    padding: 10px;
}

.scrolling {
    height: 250px;
    overflow: scroll;
}

.imaging {
  height: 80px;
  width: 80px;
}

.input-group-label {
    color: white;
    background:#219875
}
.expiresLabel {
    float: left;
    width: 100%;
    
}
.expiresInput {
    float: left;
    width: 100%;
}
.addOption {
    height: 10px !important;
}
.buttonInput{
    height: 48px !important;
    background-color: #219875 !important;
}

.pad-button {
    margin-top: 0px;
    margin-bottom: 0px;
}